<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Yodas movie lists</h1>
    <%= link_to "Add list", new_list_path, class: "btn btn-outline-primary" %>
  </div>
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card w-75">
        <%# TODO add image to list card %>
        <%#= cl_image_tag list.image.key, height: 300, width: 400, crop: :fill %>
        <%# OR %> <!--
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%#= cl_image_path @article.photo.key, height: 300, crop: :fill %>')">
        </div> -->
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <p class="card-text">...containing <%= list.movies.count %> movies</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
