<div class="container">
  <h1>New List</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: "name your new list..." %>
    <%= f.input :image, as: :file %>
    <%= f.submit  %>
  <% end %>
</div>
